<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utng.mx.iothome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_ventilacion_Estadisticas"></activity>
        <activity android:name=".activity_puertas_Estadisticas" />
        <activity android:name=".activity_luces_estadisticas" />
        <activity android:name=".activity_alarma_Estadisticas" />
        <activity android:name=".activity_ventilacion" />
        <activity android:name=".activity_puertas" />
        <activity android:name=".activity_luces" />
        <activity android:name=".activity_alarma" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>